.head {
    display: flex;
    justify-content: center;
}

.one {
    display: flex;
    width: 80%;
    margin-left: 10px;
}

.logo {
    display: flex;
    width: 20%;
}

.button {
    background-color: antiquewhite;
    width: 15%;
    height: 30px;
    border: 1px solid rgb(12, 177, 75);
    border-radius: 8px;
    
    
}

.icon-bar {
    background-color: green;
    width: 60%;
    height: 2px;
    margin: 0 auto;
    margin-bottom: 4px;
    
}

.icon-bar:first-child {
    margin-top:7px;

}

.logos {
    width: 85%;
    margin-left: 20px;
    
}

.search {
    display: flex;
    border-radius: 5px;
    border: 1px solid gray;
    width: 80%;
}


.search-icon {
    border: 1px solid white;
    height: 15px;
    width: 95%;
    margin-top: 7px;
    margin-left: 10px;
    margin-right: 10px;
}

.search-image {
    border: 1px solid white;
    width: 5%;
    height: 30px;
    border-radius: 10px;
    margin-top: 10px;
}


.two {
    width: 20%;
    
}

.list-inline {
    display: flex;
    width: 50%;
    margin-left: auto;
    height: 100%;
    align-items: center;
    justify-content: end;
}

.list-inline-items {
    width: 25%;
}
.position {
    position: absolute;
}

.container {
    margin: 0 auto;
    width: 1200px;
    margin-top: 30px;
}

.row {
    display: flex;
    height: 500px;
}

.col1 {
    background-image: url("../images/fruit.jpg");
    background-color: pink;
    width: 70%;
    margin-right: 10px;
    border-radius: 10px;
    
}

.col2 {
    width: 30%;
    margin-left: 10px;
    border-radius: 10px;
}

.row1 {
    background-color: pink;
    height: 50%;
    margin-bottom: 20px;
    border-radius: 10px;
}

.row2 {
    background-color: pink;
    height: 45%;
    margin-top: 20px;
    border-radius: 10px;
}
.top {
    height: 60px;
    width: 40%;
}

.main {
    display: flex;
    background-color: aquamarine;
    height: 400px;
    width: 100%;
}



